@page "/client"
@rendermode InteractiveWebAssembly

<h3>ClientContent</h3>

<button @onclick="CounterClicked">Click to increment @_counter</button>

<Markdown AddRenderTime>
    ## A title

    Some text

    // A value
    @_counter

    some more text 

    - Something else

    | Value | Another value |
    | ----- | ------------- |
    @for (var idx = 0; idx < _counter; idx++)
    {
        <>
        | @_counter | 2 |
        </>
    }


    ### Hello


    ### 23
</Markdown>

@code {
    int _counter = 0;

    void CounterClicked()
    {
        _counter++;
    }
}
