@page "/server"
@rendermode InteractiveServer

<h1>Interactive Blazor Markdown Rendering</h1>

<input type="text" value="" @oninput="(x) => quoteText = x.Value?.ToString()" />

<Markdown AddRenderTime>

    ## This is markdown

    Some text

    Some extra content.

    [a link](https://google.com)

    > @quoteText

        
</Markdown>

@code {
    string? quoteText;

}
